CompileFlags:
  Add: 
    - "-I"
    - "C:/msys64/ucrt64/include"
    - "-I"
    - "C:/msys64/ucrt64/include/c++/15.2.0"
    - "-I"
    - "C:/msys64/ucrt64/include/c++/15.2.0/x86_64-w64-mingw32"
    - "-DSFML_STATIC"
